@font-face {
    font-family: 'Playfair Display SC';
    src: url('/fonts/1/PlayfairDisplaySC-BlackItalic.eot');
    src: url('/fonts/1/PlayfairDisplaySC-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/1/PlayfairDisplaySC-BlackItalic.woff2') format('woff2'),
        url('/fonts/1/PlayfairDisplaySC-BlackItalic.woff') format('woff'),
        url('/fonts/1/PlayfairDisplaySC-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('/fonts/1/PlayfairDisplaySC-Regular.eot');
    src: url('/fonts/1/PlayfairDisplaySC-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/1/PlayfairDisplaySC-Regular.woff2') format('woff2'),
        url('/fonts/1/PlayfairDisplaySC-Regular.woff') format('woff'),
        url('/fonts/1/PlayfairDisplaySC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('/fonts/1/PlayfairDisplaySC-Bold.eot');
    src: url('/fonts/1/PlayfairDisplaySC-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/1/PlayfairDisplaySC-Bold.woff2') format('woff2'),
        url('/fonts/1/PlayfairDisplaySC-Bold.woff') format('woff'),
        url('/fonts/1/PlayfairDisplaySC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('/fonts/1/PlayfairDisplaySC-Black.eot');
    src: url('/fonts/1/PlayfairDisplaySC-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/1/PlayfairDisplaySC-Black.woff2') format('woff2'),
        url('/fonts/1/PlayfairDisplaySC-Black.woff') format('woff'),
        url('/fonts/1/PlayfairDisplaySC-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('/fonts/1/PlayfairDisplaySC-BoldItalic.eot');
    src: url('/fonts/1/PlayfairDisplaySC-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/1/PlayfairDisplaySC-BoldItalic.woff2') format('woff2'),
        url('/fonts/1/PlayfairDisplaySC-BoldItalic.woff') format('woff'),
        url('/fonts/1/PlayfairDisplaySC-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('/fonts/1/PlayfairDisplaySC-Italic.eot');
    src: url('/fonts/1/PlayfairDisplaySC-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/1/PlayfairDisplaySC-Italic.woff2') format('woff2'),
        url('/fonts/1/PlayfairDisplaySC-Italic.woff') format('woff'),
        url('/fonts/1/PlayfairDisplaySC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

