@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/2/PlayfairDisplay-Regular.eot');
    src: url('/fonts/2/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/2/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('/fonts/2/PlayfairDisplay-Regular.woff') format('woff'),
        url('/fonts/2/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/2/PlayfairDisplay-Italic.eot');
    src: url('/fonts/2/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/2/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('/fonts/2/PlayfairDisplay-Italic.woff') format('woff'),
        url('/fonts/2/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

