body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.page-header {
  min-height:900px;
  margin: 0;
  padding: 0;
  background-image: url("../img/header(vino).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
}

.container {
  max-width:1110px;
  margin: 0 auto;
}


.contact {
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:center;
  height:70px;
}

.main-nav {
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-content: space-around;
  margin:0;
  padding:0;
}

.main-nav li {
  width:300px;
  height:46px;
  text-align:center;
  padding:0;
  margin:0;
  list-style-type: none;
  border:1px solid #FFFFFF;;
}

.main-nav a {
  position:relative;
  top:14px;
  font-size: 14px;
  color:azure;
  text-decoration: none;
}

.main-nav li:first-child {
  border-left: none;
}
.main-nav li:last-child {
  border-right: none;
}
.catalog-item {
  display: flex;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin-top: 55%;
  /*margin-left: 332px;*/
  align-items: center;
  justify-content: center;
  /*text-align: center;*/
  align-content: center;


}
.catalog-item .price {
  display: flex;
  width: 203px;
  margin-right:30px;
  height:50px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(153, 132, 49, 1);
  text-decoration: none;
 justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  font-size:16px;
}

.catalog-item .degust {
  display: flex;
  width: 182px;
  height:50px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(153, 132, 49, 1);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-size:16px;
}

.btn:hover {
  color: red;
}

.btn:active {
  color: rgba(141, 116, 90, 0.3);
}

/*reviews*/

.reviews {
  background: #282828;
  padding: 100px 0;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #C4C4C4;
  position:relative;
  padding: 60px 10%;
}

.reviews-list h2 {
  font-family: 'Playfair Display', serif;
  font-size:36px;
  line-height: 54px;
  text-align: center;
  color:#C4C4C4;
  margin-top: 0;
}
.certa {
  display:flex;
  height:1px;
  width:160px;
  border-bottom:1px solid #FFFFFF;
}

.review-item p {
margin-top: 40px;
font-size: 20px;
line-height: 24px;
text-align: center;
color: rgba(255, 255, 255, 1);
}

.review img {
  margin-top:50px;
}

/*table-vene*/

.popular-and-price {
  display:flex;
  justify-content: center;
  background-color: rgba(230, 227, 196, 1);
  padding:80px 0;
}

.container-vine {
  display:flex;
  justify-content:space-between;
  max-width:1110px;
  padding:60px 0;
  border-top:1px solid #998431;
  border-bottom:1px solid #998431;
}

.container-left {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.container-right {
  display:flex;
  flex-wrap: wrap;
  max-height:758px;
  justify-content: space-between;
  align-content: space-between;
  padding-left: 12%;
  box-sizing: border-box;
}

.container-right img {
  width: 100%;
}


.section-title {
  font-weight: 400;
  font-size: 16px;
  margin:0;
  color: rgba(40, 40, 40, 1);
  
}

.march {
 color: rgba(40, 40, 40, 1);
 font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-size: 36px;
}


.pocerk {
  content:"";
  display:block;
  width:160px;
  height:1px;
  background-color:#282828;
}

.frenc {
  width: 445px;
  color: rgba(40, 40, 40, 1);
  font-weight: 400;
  font-size: 14px;
  margin:0;
}

.table-vine {
  display: flex;
  flex-direction: column;
}

.name {
  display:flex;
}

.price-number {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  padding:24px 31px;
  border:1px solid #282828;
  border-left:none;
  border-right:none;
  border-top:none;
}

.name .last {
  border-bottom:none;
}

.double {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #282828;
  padding-left:30px;
  padding-right: 30px;
  border-right:none;
  border-top:none;
}

.price-name {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 27px;
}

.price {
  font-weight: 400;
  font-size: 14px;
}

.container-left .btn {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  width: 55%;
  height: 7%;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color:rgba(153, 132, 49, 1);
  
}

.container-left .btn:hover {
  background-color: #8d745a;
}

.container-left .btn:active {
  color: rgba(255, 255, 255, 0.3);
}

/*feedback*/

.feedback {
  

  /*display: flex;
  justify-content: center;
  align-items: center;*/
  padding:129px 0 100px 0;
  background: #282828;
}

.container-second {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  max-width:1110px;
  margin: 0 auto;
  position: relative;
  /*align-items: center;*/
  /*margin:129px 405px 100px;
  width: 1110px;
  height: 538px;*/
  box-sizing: border-box;
  padding:65px 285px 80px 285px;
  border: 3px solid #C4C4C4;
}

.logotype-1 {
  position: absolute;
  width: 260px;
  height: 200px;
  top:-5%;
  right:-5%;
}

.logotype-2 {
  position: absolute;
  width: 260px;
  height: 260px;
  top:-5%;
  left:-5%;
}

.promo {
  position: absolute;
  width: 490px;
  height: 74px;
  top:-7%;
  left:28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282828;
}

.promo h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 54px;
  color:white;
}

.feedback-tip {
  box-sizing: border-box;
  height: 72px;
  font-size: 16px;
  text-align: center;
  color:white;
  margin-top: 40px;
}

.inside {
  content:"";
  display:block;
  width:118px;
  height:1px;
  margin:0 auto;
  background-color:#FFFFFF;
  
}

.feedback-form-group {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color:white;
  margin-top: 80px;
}

.feedback-form-group input {
  width:100%;
  min-height:20px;
  font-size: 13px;
  color:white;
  background: #282828;
  padding-bottom:10px;
  border:none;
  border-bottom:1px solid white;
  outline: none;
}

.feedback-form-group input:first-child {
  margin-right:30px;
}

.feedback-form-group-1 {
  box-sizing: border-box;
  margin-top: 40px;
}

.feedback-form-group-1 input {
 width:100%;
 box-sizing: border-box;
  min-height:20px;
  font-size: 13px;
  color:white;
  background: #282828;
  padding-bottom:10px;
  border:none;
  border-bottom:1px solid white;
  outline: none;
}

.push {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 50px;
  border:1px solid white;
  margin-top: 50px;
}

.push input {
  box-sizing: border-box;
  font-size: 16px;
  color:white;
  background-color: #282828;
  text-decoration: none;
  outline: none;
  border:none;
}

/*footer*/

.footer {
  /*display:flex;*/
  /*justify-content: center;
  align-items: center;*/
  padding:50px 0;
  background: #998431;
  margin:0;
}

.footer-main {
  display: flex;
  flex-direction: column;
  max-width:1110px;
  box-sizing: border-box;
  border:1px solid white;
  border-left: none;
  border-right: none;
  margin:0 auto;
  padding:0;
}

.first-line {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width:100%;
  height:60px;
  padding:0 95px;
}

.first-line ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:60px;
  padding:0;
}

.footer li {
list-style-type: none; 
}

.footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width:100%;
  height:60px;
  padding:0 95px;
  font-size: 14px;
  color: white;
  border-top:1px solid white;
}

.corte {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height:60px;
  border-right: 1px solid white;
}

.telephone {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height:60px;
  width: 100%;
  border-right: 1px solid white;
}

.footer-social {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-right: 1px solid white;
}

.inc {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height:60px;
}

.footer-social a {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-size: 0;
}

.social-btn {
  width: 100%;
  height: 60px;
  font-size: 0;
  color: #ffffff;
}

.social-btn:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.social-btn:active {
  border-color: #ffffff;
  opacity: 0.1;
}

.social-btn-vk {
  background-image: url("../img/vk.png");
  background-repeat: no-repeat;
  background-position:center;
}

.social-btn-fb {
  background-image: url("../img/fb.png");
  background-repeat: no-repeat;
  background-position:center;
}


.social-btn-yt {
  background-image: url("../img/yt.png");
  background-repeat: no-repeat;
  background-position:center;
}
